<div class="min-h-screen bg-gray-100">
  <nav class="bg-gradient-to-r from-indigo-600 to-purple-700 shadow-lg p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a routerLink="/" class="text-white text-2xl font-bold rounded-md px-3 py-1 hover:bg-indigo-700 transition duration-300">
        {{ title }}
      </a>
      <div class="flex space-x-4">
        <a routerLink="/studios" routerLinkActive="bg-indigo-700"
           class="text-white px-4 py-2 rounded-md text-lg font-medium hover:bg-indigo-700 transition duration-300">
          Studios
        </a>
        <br>
        <a routerLink="/bookings" routerLinkActive="bg-indigo-700"
           class="text-white px-4 py-2 rounded-md text-lg font-medium hover:bg-indigo-700 transition duration-300">
          My Bookings
        </a>
        <br>
        <a routerLink="/bookings/create" routerLinkActive="bg-indigo-700"
           class="text-white px-4 py-2 rounded-md text-lg font-medium hover:bg-indigo-700 transition duration-300">
          Create Booking
        </a>
      </div>
    </div>
  </nav>

  <main class="p-4">
    <router-outlet></router-outlet>
  </main>
</div>